.container{
  background-image: url('../assets/bgseats.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: auto;
}